.hero {
    background: url('../images/hero.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 6rem 1rem;
}

.hero-text {
    background-color: rgba(0, 91, 115, 0.6);
    padding: 2rem;
    border-radius: 15px;
}

.cta {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    margin-top: 1rem;
    text-decoration: none;
}

.gallery {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.gallery img {
    width: 250px;
    border-radius: 10px;
    @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
.gallery {
    grid-template-columns: 1fr;
    }
}

